@charset "utf-8";
/* CSS Document */

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Font-Face
	#Site Styles
	#Page Styles
	#Media Queries */

/* #Font-Face
================================================== */
@font-face {
    font-family: '8-bit';
    src: url('../fonts/8-bit/8-bit_madness-webfont.eot');
    src: url('../fonts/8-bit/8-bit_madness-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/8-bit/8-bit_madness-webfont.woff') format('woff'),
        url('../fonts/8-bit/8-bit_madness-webfont.ttf') format('truetype'),
        url('../fonts/8-bit/8-bit_madness-webfont.svg#8-bit_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* #Site Styles
================================================== */

* {
  margin: 0;
  text-shadow: none;
}
html, body {
  height: 100%;
}
body {
    font-family: helvetica;
    position: relative;
}
a:hover {
	text-decoration: none;
}
ul {
    color: inherit;
    font-size: 16px;
    margin: 10px 0 10px 25px;
}

/* Color Pallet */
.bblack{
    background-color: #282828;
}
.bgreen {
    background-color: #679651;
}
.blgreen {
    background-color: #CEE6C4;
}
.bgrey {
    background-color: #b3b3b3;
}
.bred {
    background-color: #AF3939;
}
.byellow {
    background-color: #fff400;
}
.bgreen, .bgrey, .bred, .bblack {
    padding: 50px 0;
}

/* Header */

.top-logo {
    display: inline;
    padding: 10px;
}
.top-logo img {
    display: block;
    margin: auto;
}
.social {
    display: inline-block;
    float: left;
    margin-right: 10px;
    height: 36px;
    width: 36px;
}
.top-title {
    font-family: '8-bit';
    font-size: 100px;
    position: absolute;
    left: 223px;
    bottom: 3px;
}

.accord-title {
	display: none;
}
.half {
	width: 50%;
}
.main.content {
    position: relative;
}
.right {
    float: right;
}
.title {
    font-weight: bold;
    font-size: 16px;
}

/* Sticky Footer */
input {
	line-height: 30px;
	width: 500px;
}
.btn {
	padding: 7px;
	margin-top: 25px;
	transition:color .5s;
	width: 150px;
	font-family: '8-bit';
	font-size: 30px;
	padding-left: 5px;
}
.btn:hover {
	color: red;
}
.control-group:first-of-type {
    margin-bottom: 20px;
}
.footer {
	height: 250px;
}
.footer p {
    color: #fff400;
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer + padding height */
  margin-bottom: -350px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.placeholder {
    font-family: '8-bit';
    font-size: 30px;
    padding-left: 5px;
}
::-webkit-input-placeholder {
    font-family: '8-bit';
}
:-moz-placeholder {
    font-family: '8-bit';
}
::-moz-placeholder {
    font-family: '8-bit';
}
:-ms-input-placeholder {
    font-family: '8-bit';
}
.right textarea {
    width: 350px;
}
.page-wrap:after {
  /* .push must be the same height as footer + padding */
  height: 350px; 
}
.submit {
	text-align: center;
}
.ui-input-text input {
	padding: 0;
	line-height: auto;
}



/* #Page Styles
================================================== */

/* Contact Bar */
a .contact-label {
	color: #333;
}
a:visited .contact-label {
	color: #fff400;
}
.contact-bar {
	padding: 5px 0;
}
.contact-btn {
	margin: 8px 0 8px -20px;
}
.contact-btn .wrapper {
	margin-left: 25%;
	position: relative;
}
.contact-label {
	position: absolute;
	left: 50px;
	top: 6px;
}

/* Banner */
.banner {
    position: relative;
    background-image: url('../images/code-blur.jpg');
    background-size: cover;
    height: 400px;
}

/* Projects */
.js-logo {
	height: 150px;
	width: 150px;
	position: absolute;
	bottom: 85px;
	left: 55px;
}
.projects {
	bottom: 0;
	left: 0;
	position: relative;
	height: 400px;
}

/* Flexslider */
.flexslider {
    border: 3px #fff400 solid;
	position: absolute;
    bottom: 55px;
    right: 55px;
    margin: 0;
	width: 475px; 
    height: 231px;
}
.flexslider img {
    margin: 0;
}

/* Accordion */
#accordion {
	margin: 0;
}
#accordion .ui-collapsible-content {
	padding: 0 !important;
}
#accordion .ui-corner-all {
	border-radius: 0 !important;
}

/* Statement */
.statement {
    height: 190px;
    color: #f5f5f5;
    font-family: helvetica;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

/* Education */
#accordion .bgrey, #accordion .bgrey .ui-widget-content {
	background: #b3b3b3 !important;
}
#accordion .bgreen, #accordion .bgreen .ui-widget-content {
	background: #679651 !important;
}
.comp {
    display: inline;
    font-weight: bolder;
}

.edu .columns {
    display: inline;
    margin: 0;
}
.exp .three.columns {
    margin: 0;
}
.school {
    display: inline-block;
    color: #3b3c5b;
    font-size: 15px;
    margin: 0;
    padding: 6px 0
}
.school p {
    margin: 0;
}
.ucsd {
    margin-bottom: 35px;
}
.ucsd, .ash {
    display: block;
    height: 95px;
}

/* Work */
.work {
    color: #f5f5f5;
    padding: 0 20px;
}
.work a {
    color: #C51A1A;
    font-weight: bold;
}
.work a:hover {
    color: #282828;
    text-decoration: none;
}
.work span.title {
    color: #fff400;
}
.work a, .ui-widget-content a {
	color: #C51A1A;
}
	
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.contact-btn {
			margin: 0 0 0 -20px;
			padding: 5px 0;
		}
		.flexslider {
			width: 309px;
            height: 150px;
            position: absolute;
            bottom: 55px;
            right: 55px;
            margin: 0;
		}
		.js-logo {
			height: 100px;
			width: 100px;
			position: absolute;
			bottom: 85px;
			left: 55px;
			
		}
		.top-logo {
			height: auto;
			margin-left: 25px;
			padding: 10px;
			width: 125px;
		}
		.projects {
			left: 45px;
		}
		.top-title {
			font-size: 80px;
			left: 165px;
			bottom: 4px;
		}
		input {
			width: 350px;
		
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.ash img {
			width: 75%;
		}
		textarea.right {
			float: none;
		}
		.btn {
			margin-top: 0;
		}
		.clearfix.row {
			margin-bottom: 0;
		}
		.contact-bar {
			position: fixed;
			left: 0;
			top: 40px;
			z-index: 50;
			width: 50px;
			background-color: transparent;
		}
		.contact-btn {
			margin: 0;
		}
		.contact-btn .wrapper {
			margin: 0;
		}
		.control-group {
			margin-bottom: 20px;
		}
		.contact-label {
			display: none;
		}
		.email {
			background-color: #b3b3b3;
			transition:padding .25s;
		}
		.email:hover {
			padding: 0 3px;
		}
		.footer {
			height: 370px;
		}
		.google {
			background-color: #C63D2D;
			margin-left: 1px;
			transition:padding .35s;
		}
		.google:hover {
			padding: 0 3px;
		}
		.languages {
			margin-left: 35px !important;
		}
		.linkedin {
			background-color: #4875B4;
			margin-left: 1px;
			transition:padding .35s;
		}
		.linkedin:hover {
			padding: 0 3px;
		}
		.logo, .school, .languages, .software {
			width: 50% !important;
		}
		.page-wrap {
		    min-height: 100%;
		    /* equal to footer + padding height */
		    margin-bottom: -470px; 
		}
		.page-wrap:after {
		    /* .push must be the same height as footer + padding */
		    height: 470px; 
		}
		.placeholder, .right textarea {
			width: 100%;
		}
		.projects {
			height: 260px;
			left: 0;
		}
		.school {
			margin-bottom: 15px;
		}
		.exp .skills {
			width: 100% !important;
			margin-top: 35px;
		}
		.software {
			position: absolute;
			right: 0;
		}
		.universities {
			position: absolute;
			right: 0;
		}
		.ucsd, .ash, .skills {
			position: relative;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.banner {
			height: 260px;
		}
        .flexslider {
                width: 206px;
                height: 100px;
                right: 25px;
        }
		.js-logo {
			left: 25px;
			bottom: 57px;
		}
		.top-logo {
			padding: 5px;
			width: 75px;
		}
		.top-title {
			font-size: 40px;
			left: 108px;
			bottom: 5px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		ul {
			font-size: 14px;
        	margin-left: 5px;
        	padding-left: 15px;
        }
        .accord-title {
        	display: block;
        }
        .banner {
        	height: 260px;
        }
        .bgreen .work{
			font-size: 14px;
		}
		.contact-bar {
			top: 28px;
		}
        .flexslider {
        	display: none;
        }
        .js-logo {
			bottom: 30%;
			left: 40%;
		}
		.languages {
			margin-left: 0 !important;
		}
        .top-logo {
			padding: 5px;
			width: 50px;
		}
		.top-title {
			font-size: 29px;
			left: 85px;
			bottom: 6px;
		}
		
	}



